.App-header {
  background-color: #282c34;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container-fluid{
  margin-top: 20px;
}

.nav-item:active{
  background-color: aqua;
}